<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Local Image</title>
</head>
<body>

<!-- 用于显示图片的 <img> 标签 -->
<img id="myImage" style="display: none;" alt="Image">

<!-- 一个按钮用于触发显示图片的函数 -->
<button onclick="displayImage()">显示本地图片</button>

<script>
    function displayImage() {
        // 获取图片元素
        var imageElement = document.getElementById('myImage');
        
        // 设置图片路径
        imageElement.src = 'F:\\Users\\Djctionary\\Desktop\\HACI_Lab\\TCM_UI\\output\\Visual\\visual_wav.jpg';

        // 显示图片
        imageElement.style.display = 'block';
    }
</script>

</body>
</html>
