/* 全局样式 */
body {
    margin: 0;
    padding: 0;
}

/* 顶部按钮和标签样式 */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    /* 设置背景颜色 */
    color: #fff;
    /* 设置文字颜色 */
    padding: 10px;
    /* 设置内边距 */
    
    /* -webkit-box-reflect: below 0px linear-gradient(transparent, rgba(0, 0, 0, 0.4)); */
}

/* 视频容器样式 */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    /* 100%视窗高度 */
}

/* 实时画面样式 */
.live-video {
    width: 100%;
    /* 宽度100% */
    height: 50vh;
    /* 50%视窗高度 */
    background-color: #ddd;
    /* 设置背景颜色 */
}

/* 播放画面样式 */
.playback-video {
    width: 100%;
    /* 宽度100% */
    height: 50vh;
    /* 50%视窗高度 */
    background-color: #ccc;
    /* 设置背景颜色 */
}

/* 添加其他样式和属性根据需要 */


/* playLabel 标签的样式 */
/* 设置绝对定位 */
/* #playLabel {
    position: absolute;
    right: 12vh;
} */

#currentKind {
    display: flex;
    font-size: 1.5em;
    /* Adjust the font size as needed */
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    justify-content: center;
}

.btn {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    padding: 0.5em 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    -webkit-appearance: none;
    appearance: none;
    background-color: #68bcde;
    color: #fff;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(104, 188, 222, 0.5);
    cursor: pointer;
    /* -webkit-box-reflect: below 10px linear-gradient(transparent, rgba(0, 0, 0, 0.4)); */
}

.btn:focus {
    outline: 0;
}

.btn:before,
.bnt:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
}

.btn:before {
    display: none;
    top: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

.btn:after {
    display: none;
    bottom: -75%;
    background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

.btn:active {
    transform: scale(0.9);
    background-color: #e60074;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}