
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" >
  <title>感谢参与</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      text-align: center;
    }
    h1 {
      color: #333;
      font-size: 44px;
    }
    p {
      font-size: 30px;
      color: #666;
    }
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 100px;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>感谢参与调查</h1>
    <p>如有任何疑问或建议请联系我们</p>
    <p>邮箱: 1964877196@qq.com</p>
  </div>
</body>
</html>
